/** BASICS **/
body {
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
}

/** FONTS **/
@font-face {
  font-family: 'helvetica-lt';
  src: url('/fonts/helvetica/HelveticaNeueLTPro-Lt.otf') format('opentype');
}
@font-face {
  font-family: 'helvetica-bd';
  src: url('/fonts/helvetica/HelveticaNeueLTPro-Bd.otf') format('opentype');
}
@font-face {
  font-family: 'ubuntu';
  src: url('/fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'open-sans';
  src: url('/fonts/open_sans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'open-sans-light';
  src: url('/fonts/open_sans/OpenSans-Light.ttf') format('truetype');
}
